html, body {
    height: 100%;
    width: 100%;
}
.pad-section {
    padding: 50px 0;
}
.pad-section iframe{
    margin-left:25%;
}
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vcenter img {
    width: 588px;
    height:428px;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5%
}
#home {
    background-color: aqua;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}
#about{
    background-color:palegreen;
    font-size: 25px;
    text-align:center;


}
#information {
    background-color:palevioletred;
}
#media {
    background-color:dodgerblue;
}
.fb-page{
    margin-left:17%;
}
footer{
    padding:20px 0;
}
