doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    |     
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    |     
    link(rel="stylesheet", media="screen", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
    |     
    title NOW PLAYING: A Movie Guide
    |     
    link(href="stylesheets/style.css", rel="stylesheet", type="text/css")
  |   
  body
    link
    |     
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    |     
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
    |     
    script(src="javascripts/client.js")
    |     
    script(src="stylesheets/style.css")
    |     
    #main.container-fluid
      h1 NOW PLAYING
      |       
      p Get local showtimes by entering movie title followed by your zip code
      |       
      script.
        (function() {
        var cx = '011792947636407275373:m6aikvthv2q';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
        })();
      |       
      gcse:search#searchbar
      |       
      #movies
    footer.container-fluid.text-center
      a(href="#main", title="To Top", style="color:aqua;")
        span.glyphicon.glyphicon-chevron-up
      |      
      p#creator
        | Website Created By 
        a(href="https://www.mattlineback.me", title="Matt Lineback", style="color:#ab32ab;") Matt Lineback
    |     
    script.
      $(document).ready(function(){
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#main']").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
      scrollTop: $(hash).offset().top
      }, 900, function(){
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
      } // End if
      });
      $(window).scroll(function() {
      $(".slideanim").each(function(){
      var pos = $(this).offset().top;
      var winTop = $(window).scrollTop();
      if (pos < winTop + 600) {
      $(this).addClass("slide");
      }
      });
      });
      })
