doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', media='screen', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css')
    title NOW PLAYING: A Movie Guide
    link(href='stylesheets/style.css', rel='stylesheet', type='text/css')
  body
    link
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='javascripts/client.js')
    script(src='stylesheets/style.css')
    .container-fluid
      h1 NOW PLAYING
      p Get showtimes by entering movie title followed by your zip code
      script.
        (function() {
        var cx = '011792947636407275373:m6aikvthv2q';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
        })();
      gcse:search#searchbar
      #movies

      
      
        
