
body {
        background-image: url(images/Cinemaaustralia.jpg);
        background-position:center;
        padding-top: 20px;
        padding-bottom: 20px;

        }

.jumbotron { 
        background-color:black;
        opacity: .90;
        color:chartreuse;

        }
.container-fluid {
        
        margin-top: 5%;
        margin-bottom: 0;
        margin-left: 10%;
        margin-right: 10%;

       }
h1 {
        color:chartreuse;
        text-align:center;
        text-shadow: 4px 4px 5px #999;
        font-size:400%;

        }
h2 {    
        color:chartreuse;
        text-align: center;
	text-shadow: 2px 2px 5px #999;
        font-size: 200%;
        padding-top: 5%;

        }
h3 {    
        color:aqua;
        text-align: center;
        font-size: 100%;
        
        }

p {     
        color: aliceblue;
        text-align:center;
        }





