body{
    background: grey;
    width: 800px;
	margin: auto;
    font-size: 150%;
}
h1{
    font-style: oblique;
	color: darkgreen;
	margin: auto;
    text-align: justify;
}
div{

}
div1{

}
footer{

}
a:link{
    text-decoration: none;
}
