body{
	font-size: 150%;
	background: black;
	width: 800px;
	margin: auto;
}
h1{
	font-style: oblique;
	color: orangered;
	margin: auto;
    text-align: justify;
}
div{
}
div1{
}
footer{
}
a:link{
    text-decoration: none;
}
