body{
    background-color: burlywood;
    width: 800px;
	margin: auto;
    font-size: 150%;
}
h1{
    font-style: oblique;
	color: darkslategrey;
	margin: auto;
    text-align: justify;
}
div{

}
div1{

}
footer{

}
a:link{
    text-decoration: none;
}
